.masterHeader{
    background-color: #f4f4f4;
    width: 93%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 2vh;
    margin: 0  0 18px 0;
    padding:0 1vw 0 1vw;
    border-radius: 0 0 5px 5px;
}

.headerStart{
    display: flex;
    align-items: end;
    gap: 1vh;
    height: 100%;
    margin: 0;
    width: 25%;
}

.headerCenter{
    width: 25%;
}

.headerEnd{
    width: 25%;
    display: flex;
    justify-content: end;
}

.logo{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 550;
    color: #FD860F;
}

.logoDescription{
    font-weight: bold;
}