.masterMain{
    width: 93%;
    display: flex;
    padding-left: 2vh;
    margin: 0;
    padding:0;
}

.colsMainLeft{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 18px;
}

.colsMainRight{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    gap: 18px;
}