.masterMain{
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 2vh;
    margin: 0;
    padding:0;
}

.colsMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
}